@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.txt-gradient {
  background-color: #88C8A0;
  background-image: linear-gradient(to right, #88C8A0 15%, #3A7B99 36%, #C8BAD4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}